div > button {
    width: 50px;
    height: 30px;
}

#choose-decks {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
}

#hand-results > button {
    width: 120px;
}

#game-results > button {
    width: 120px;
}

.show {
    display: flex!important;
}

.hide {
    display: none!important;
}

.double {
    width: 100px
}

.surrender {
    width: 100px;
}

#betting, #choices, #hand-results, #game-results {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
}

#bet-options{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-template-rows: 50px 50px;
    font-size: 1.5em;
    font-weight: bold;
}

.card{
    border: .2em solid black;
    border-radius: 10%;
    height: 100px;
    width: 70px;
    margin-right: 5px;
    float: left;
    background-color: white;
}

.card-value{
    margin: 0;
    margin-top: 15%;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding: 0;  
}

.card-suit{
    text-align: center;
    margin: 0;
    font-size: 2.5em;
}

.red {
    color: red;
}

.black {
    color: black;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: green;
}

.cards {
    display: none;
}

.hidden-frame{
    background-color: black;
}

.hidden-frame > p{
    color: black;
}

#bet-options > button{
    font-size: .85em;
    font-weight: bold;
    background-color: #FFDB58;
}

.add-bet{
    width: 100px;
    height: 50px;
    color:black;
}

.subtract-bet{
    width: 100px;
    height: 50px;
    color: red;
}

.submit-bet{
    width: 100px;
    height: 50px;
    color: black;
}

.max-bet{
    width: 100px;
    height: 50px;
    color: black;
}