div > button {
    width: 50px;
    height: 30px;
}

#choose-decks {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
}

#hand-results > button {
    width: 120px;
}

#game-results > button {
    width: 120px;
}

.show {
    display: flex!important;
}

.hide {
    display: none!important;
}

.double {
    width: 100px
}

.surrender {
    width: 100px;
}

#betting {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
}

#choices {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
}

#bet-options{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#hand-results{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
}

#game-results{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
}